@model IEnumerable<Order>

@{
    ViewBag.Title = "Zamówienia";
    Layout = "_AdminLayout";
}

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Klient
            </th>
            <th>
                Kod pocztowy
            </th>
            <th colspan="2">
                Opis
            </th>
            <th>
            </th>
        </tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>
                    @o.Name
                </td>
                <td>
                    @o.Zip
                </td>
                <th>
                    Produkt:
                </th>
                <th>
                    Ilość:
                </th>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderID" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Zrealizowane
                        </button>
                    </form>
                </td>
            </tr>
            foreach (CartLine cl in o.Lines)
             {
                 <tr>
                     <td colspan="2"></td>
                     <td>
                         @cl.Product.Name
                     </td>
                     <td>
                         @cl.Quantity
                     </td>
                     <td>Id: @cl.CartLineID</td>
                 </tr>
             }
        }
    </table>
}
else
{
    <div class="text-center">Brak niezrealizowaych zamówień.</div>
}